
  <h2>Heroes</h2>
  <ul class="heroes">
        <li *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
          <a ></a>
          <span class="badge">{{hero.id}}</span>  {{  hero.name}}
          <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
        </li>
  </ul>
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>
 
  <div>
        <label>Hero name:
          
        </label>
        <div>
          <input #heroName />
        </div>

       <div>
        <button mat-raised-button color="accent" (click)="add(heroName.value); heroName.value=''">
          add
        </button>
       </div>
      

    </div>